<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige toutes les requêtes vers le dossier 'public/'
    # Sauf si la requête pointe directement vers un fichier qui existe (image, CSS, etc.)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>